

.imageholder{
    top:354px;
    animation: 10s linear 2s infinite topchange;

}

@keyframes  topchange{
0%{
    top:200px;
}
25%{
    top:0px;
}
50%{
    top:-200px;
}
75%{
    top:-400px;
}
100%{
    top:200px;
}
}
.loginform input{
    width: 60%;
    padding: 20px;
       border-radius: 20px;
    border: 2px solid rgb(85 85 85 / 38%);
}
 .loginform input:hover {
    border:3px solid #771011 ;
 }
.loginform input::placeholder{
    color:#777;
}
.phone{
     width: 60%;
   
    border: 2px solid #ddd;
}
.phone::placeholder{
 color:#777;
}
.orhlder{
    width:15%;
position:relative;
}
.orhlder::before{
content:"";
position: absolute;
width: 60px;
height: 5px;
background-color: #ddd;
left: 0px;
top: 50%;
}
.orhlder::after{
    content:"";
    position:absolute;
    width: 60px;
    height: 5px;
    background-color: #ddd;
    right: 0px;
    top: 50%;
}
